<mat-card class="profile-container">
    <mat-card-header>
      <mat-card-title>{{taxPayer?.name}}</mat-card-title>
      <mat-card-subtitle>TIN: {{taxPayer?.tin}}</mat-card-subtitle>
      <mat-card-subtitle>NID: {{taxPayer?.nid}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>Circle-{{taxPayer?.circle}}, Zone- {{taxPayer?.zone}}</p>
    </mat-card-content>
    <mat-card-actions>
      <a routerLink="/taxes/{{taxPayer?.tin}}" >
        <app-button
          [label]="btnLabel"
          [color]="btnColor"
          [type]="btnType"
        ></app-button>
      
      </a>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
  