<div class="form-container">
    <mat-toolbar>
        <span>Registration</span>
    </mat-toolbar>
    <mat-card class="signup">
        <mat-card-content>
            <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
                <mat-form-field class="full-width">
                    <mat-label>First Name</mat-label>
                    <input 
                        formControlName="firstName"
                        type="text"
                        matInput 
                        placeholder="Enter First Name"
                    />
                </mat-form-field>
    
                <mat-form-field class="full-width">
                    <mat-label>Last Name</mat-label>
                    <input 
                        formControlName="lastName"
                        type="text"
                        matInput 
                        placeholder="Enter Last Name"
                    />
                </mat-form-field>

                <mat-form-field class="full-width">
                    <mat-label>TIN</mat-label>
                    <input matInput placeholder="TIN" formControlName="tin" required>
                </mat-form-field>

                <mat-form-field class="full-width">
                    <mat-label>NID</mat-label>
                    <input matInput placeholder="Last Name" formControlName="nid" required>
                </mat-form-field>
    
                <mat-form-field appearance="fill" class="full-width">
                    <mat-label>--Seletc--</mat-label>
                    <mat-select formControlName="gender"> 
                      <mat-option value="M">Male</mat-option>
                      <mat-option value="F">Female</mat-option>
                      <mat-option value="O">Other</mat-option>
                    </mat-select>
                  </mat-form-field>

                  <mat-form-field appearance="fill" class="full-width">
                    <mat-label>--Seletc--</mat-label>
                    <mat-select formControlName="userStatus"> 
                      <mat-option value="1">Active</mat-option>
                      <mat-option value="0">Inactive</mat-option>
                    </mat-select>
                  </mat-form-field>
    
                  <mat-form-field class="full-width">
                    <mat-label>Zone</mat-label>
                    <input matInput placeholder="Zone" formControlName="zone" required>
                </mat-form-field>
    
                <mat-form-field class="full-width">
                    <mat-label>Circle</mat-label>
                    <input matInput placeholder="Circle" formControlName="circle" required>
                </mat-form-field>
        
                <mat-form-field class="full-width">
                    <mat-label>Email</mat-label>
                    <input matInput placeholder="Email" formControlName="email">
                </mat-form-field>
    
                <mat-form-field class="full-width">
    
                    <!-- <input 
                    formControlName="username"
                    type="text"
                    name="username"
                    matInput 
                    [errorStateMatcher]="matcher"
                    placeholder="Ex. something secure"
                  /> -->
    
                    <mat-label>Username</mat-label>
    
                    <input matInput placeholder="User Name" formControlName="username">
    
                </mat-form-field>
    
                <mat-form-field class="full-width">
    
                    <mat-label>Password</mat-label>
    
                    <input matInput placeholder="Password" type="password" formControlName="password">
    
                </mat-form-field>
               
                <!-- <section class="example-section">
    
                    <label class="example-margin">Gender:</label>
    
                    <mat-radio-group [(ngModel)]="gender">
    
                        <mat-radio-button class="example-margin" value="after">Male</mat-radio-button>
    
                        <mat-radio-button class="example-margin" value="before">Female</mat-radio-button>
    
                        <mat-radio-button class="example-margin" value="before">Other</mat-radio-button>
    
                    </mat-radio-group>
    
                </section> -->
                <app-button
                    [label]="buttonLabel"
                    [color]="buttonColor"
                    [type]="buttonType"
                    >
                </app-button>
            
    
            </form>
    
        </mat-card-content>
    
        <mat-card-actions>
        
            <!-- REGISTER BUTTON -->
            <!-- <button mat-raised-button (click)="register()" color="primary">REGISTER</button> -->
    
        </mat-card-actions>
    
    </mat-card>
</div>