<mat-card class="table-container">
  <mat-toolbar>
    <span>Taxpayer List</span>
  </mat-toolbar>
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">
      
      <!-- Position Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>
  
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>
  
      <!-- Weight Column -->
      <ng-container matColumnDef="tin">
        <th mat-header-cell *matHeaderCellDef> Tin </th>
        <td mat-cell *matCellDef="let element"> {{element.tin}} </td>
      </ng-container>
  
      <!-- Symbol Column -->
      <ng-container matColumnDef="gender">
        <th mat-header-cell *matHeaderCellDef> Gender </th>
        <td mat-cell *matCellDef="let element"> {{element.gender}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="circle">
        <th mat-header-cell *matHeaderCellDef> Circle </th>
        <td mat-cell *matCellDef="let element"> {{element.circle}} </td>
      </ng-container>
      <!-- Symbol Column -->
      <ng-container matColumnDef="zone">
        <th mat-header-cell *matHeaderCellDef> Zone </th>
        <td mat-cell *matCellDef="let element"> {{element.zone}} </td>
      </ng-container>
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> Action </th>
        <td mat-cell *matCellDef="let element"> 
          <a routerLink="/taxpayers/{{element.id}}">
            <i>View</i>
          </a>
        </td>
      </ng-container>


      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" class="center" colspan="9999">No Taxpayer Found!</td>
    </tr>


      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
    <!-- <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                   showFirstLastButtons
                   aria-label="Select page of periodic elements">
    </mat-paginator> -->
  </div>
  
</mat-card>


<div *ngFor="let item of ">

</div>